*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: $color-black-dark;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 1800px;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}
