*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow Condensed', sans-serif;
    line-height: 1.5;
    height: 2000px;
}

a {
    text-decoration: none;
    color: inherit;
    transition: .3s;
}