/*
COLORS
*/
$color-primary: #ff752c;
$color-primary-dark: #713f26;

$color-black: #3a3a3a;
$color-black-dark: #1d1d1d;

$color-brown: #342c28;

// Sizes
$s-size: 1rem;
$m-size: 2rem;
$l-size: 3rem;
$xl-size: 4rem;