.footer {
  padding-top: $xl-size;
  background-color: $color-black-dark;
  color: #fff;
  text-align: center;
  &__text {
    p {
      font-size: 2rem;
      font-weight: 700;
      font-family: 'Oswald', sans-serif;
      letter-spacing: 1px;
    }
  }
  &__btn {
    display: inline-block;
    position: relative;
    margin: $m-size auto 0;
    &-front {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 414px;
      height: 64px;
      top: 3px;
      left: 3px;
      clip-path: polygon(5% 0, 95% 0, 100% 20%, 100% 80%, 95% 100%, 5% 100%, 0 80%, 0 20%);
      border: none;
      background-color: $color-black-dark;
      color: #fff;
      font-size: 1.15rem;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 4px;
      cursor: pointer;
      transition: .3s;
      &:hover {
        background-color: $color-black;
      }
    }
    &-back {
      width: 420px;
      height: 70px;
      background-color: $color-primary;
      clip-path: polygon(5% 0, 95% 0, 100% 20%, 100% 80%, 95% 100%, 5% 100%, 0 80%, 0 20%);
    }
  }
  &__copyright {
    padding: $s-size;
    margin-top: $m-size;
    background-color: #111;
    font-size: 1.1rem;
    span {
      font-weight: 600;
    }
  }

}