.header {
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
  transition: .5s;
  background-color: rgba($color-black-dark, .85);
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $m-size;
    transition: .5s;
    transform: translateY(.5rem);
  }
  &__logo {
    h1 {
      margin: 0;
      font-size: 1.4rem;
      font-weight: 400;
      font-family: sans-serif;
      text-transform: uppercase;
    }
  }
  &__stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: $xl-size;
    font-size: .7rem;
    letter-spacing: 2px;
    &-num {
      font-weight: 700;
    }
    &-text {
      font-weight: 300;
    }
  }
  &__dons {
    margin-right: $m-size;
  }
  &__nav {
    &-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-item {
        &:not(:last-child) {
          margin-right: $m-size;
        }
        a {
          text-transform: uppercase;
        }
      }
    }
  }
  &--solid {
    height: unset;
    .header__inner {
      transform: translateY(0);
    }
  }
}