.header {
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
  transition: .5s;
  background-color: rgba($color-black-dark, .95);
  z-index: 10000;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $m-size;
    transition: .5s;
    transform: translateY(.5rem);
    max-width: 1800px;
    margin: 0 auto;
  }
  &__stats {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    margin-bottom: $xl-size;
    @include largeUp {
      margin-left: $xl-size;
      margin-bottom: 0;
    }
    &-num {
      font-size: .7rem;
      font-weight: 700;
    }
    &-text {
      font-size: .6rem;
      font-weight: 300;
      span {
        font-weight: 700;
      }
    }
  }
  &__dons {
    margin-right: $m-size;
  }
  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    position: absolute;///////
    top: 0;///////////
    right: 0;/////////
    bottom: 0;//////////////
    background-color: rgba($color-black-dark, .95);//////////////////
    min-height: 100vh;///////////
    width: 60vw;//////////////
    z-index: 100000;////////////
    padding-top: 8rem;///////////
    transform: translateX(100%);//////////////
    transition: .5s;
    overflow-y: scroll;
    @include largeUp {
      flex-direction: row;
      justify-content: space-between;
      position: unset;
      top: unset;
      right: unset;
      bottom: unset;
      background-color: transparent;
      min-height: unset;
      width: unset;
      padding-top: 0;
      transform: translateX(0);
    }
    &-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;//////////////
      @include largeUp {
        flex-direction: row;
      }
      &-item {
        margin-bottom: $l-size;
        @include largeUp {
          margin-bottom: 0;
        }
        &:not(:last-child) {
          @include largeUp {
            margin-right: 1.5rem;
          }
          @include xLargeUp {
            margin-right: $m-size;
            margin-bottom: 0;
          }
        }
        a {
          color: #c0c0c0;
          text-transform: uppercase;
          font-size: 1.4rem;
          font-weight: 700;
          letter-spacing: 1px;
          @include largeUp {
            font-size: .875rem;
            font-weight: 600;
          }
          &:hover {
            color: #fff;
          }
        }
        &--active {
          a {
            color: #fff;
          }
        }
      }
    }
    &-close {
      position: absolute;
      top: 55px;
      right: 80px;
      cursor: pointer;
      @include largeUp {
        display: none;
      }
      .first,
      .second {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30px;
        height: 1px;
        background-color: #fff;
      }
      .first {
        transform: rotate(45deg);
      }
      .second {
        transform: rotate(-45deg);
      }
    }
    &--visible {
      transform: translateX(0);
    }
  }
  &__menu-icon {
    display: flex;
    align-items: center;
    margin-right: $s-size;
    cursor: pointer;
    @include largeUp {
      display: none;
    }
    button {
      width: 35px;
      height: 18px;
      border: none;
      background-color: transparent;
      &:focus {
        outline: none;
      }
      &:active {
        outline: none;
      }
    }
    div {
      position: relative;
      width: 35px;
      height: 2px;
      background-color: #fff;
      &::before {
        content: '';
        width: 35px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: -9px;
        left: 0;
      }
      &::after {
        content: '';
        width: 35px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        bottom: -9px;
        left: 0;
      }
    }
  }
  &--solid {
    height: unset;
    .header__inner {
      transform: translateY(0);
      padding: $m-size;
    }
  }
}