.header {
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
  transition: .5s;
  background-color: rgba($color-black-dark, .85);
  z-index: 10000;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $m-size;
    transition: .5s;
    transform: translateY(.5rem);
    max-width: 1800px;
    margin: 0 auto;
  }
  &__stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: $xl-size;
    letter-spacing: 1px;
    &-num {
      font-size: .9375rem;
      font-weight: 700;
    }
    &-text {
      font-size: .75rem;
      font-weight: 300;
      span {
        font-weight: 700;
      }
    }
  }
  &__dons {
    margin-right: $m-size;
  }
  &__nav {
    &-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-item {
        &:not(:last-child) {
          margin-right: $m-size;
        }
        a {
          color: #c0c0c0;
          text-transform: uppercase;
          font-size: .875rem;
          font-weight: 600;
          letter-spacing: 1px;
          &:hover {
            color: #fff;
          }
        }
        &--active {
          a {
            color: #fff;
          }
        }
      }
    }
  }
  &--solid {
    height: unset;
    .header__inner {
      transform: translateY(0);
      padding: $s-size $m-size;
    }
  }
}