.services {
  &__left-side {
    margin-right: $m-size;
    @include largeUp {
      margin-right: 0;
      text-align: right;
      width: 33%;
    }
    .section__list-item-icon {
      order: -1;
      @include largeUp {
        margin-left: $m-size;
        margin-right: 0;
        order: 0;
      }
    }
  }
  &__middle {
    width: 25%;
    display: none;
    @include largeUp {
      display: block;
    }
    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
  }
  &__right-side {
    @include largeUp {
      width: 33%;
    }
    .section__list-item-icon {
      margin-right: $m-size;
    }
  }
  .section__link {
    justify-content: center;
    margin-top: $s-size;
  }
  .section__list-item {
    &:not(:last-child) {
      margin-bottom: 5rem;
      @include x2LargeUp {
        margin-bottom: 7rem;
      }
    }
  }
}

.annonces,
.questions,
.nouvelles {
  .section__list-item {
    margin-bottom: $m-size;
    &:last-child {
      margin-bottom: $m-size;
    }
  }
}
