.services {
  &__left-side {
    width: 33%;
    text-align: right;
    .section__list-item-icon {
      margin-left: $m-size;
      margin-right: 0;
    }
  }
  &__middle {
    width: 25%;
    img {
      display: block;
      margin: 0 auto;
    }
  }
  &__right-side {
    width: 33%;
    .section__list-item-icon {
      margin-right: $m-size;
    }
  }
  .section__link {
    justify-content: center;
    margin-top: $s-size;
  }
  .section__list-item {
    &:not(:last-child) {
      margin-bottom: 7rem;
    }
  }
}


.annonces,
.questions,
.nouvelles {
  .section__list-item {
    margin-bottom: $m-size;
    &:last-child {
      margin-bottom: $m-size;
    }
  }
}
