.services {
  &__left-side {
    width: 33%;
    text-align: right;
    .section__list-item-icon {
      margin-left: $m-size;
      margin-right: 0;
    }
  }
  &__middle {
    width: 25%;
    img {
      display: block;
      margin: 0 auto;
      transform: translateY(-7rem);
    }
  }
  &__right-side {
    width: 33%;
    .section__list-item-icon {
      margin-right: $m-size;
    }
  }
  .section__link {
    text-align: center;
    transform: translateY(-5rem);
  }
  .section__list-item {
    margin-bottom: 6rem;
  }
}


.annonces,
.questions,
.nouvelles {
  .section__list-item {
    margin-bottom: $m-size;
    &:last-child {
      margin-bottom: $m-size;
    }
  }
  .section__list-item-description {
    p {
      color: $color-dark-gray;
    }
  }
}

.questions {
  .section__list-item-description {
    p {
      color: $color-light-gray;
    }
  }
  .section__description p {
    color: $color-light-gray;
  }
}