.icon {
  background-color: $color-primary;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 15%;
  transform: rotate(45deg);
  &>* {
    transform: rotate(-45deg);
  }
  &--large {
    width: 4rem;
    height: 4rem;
  }
}