.icon {
  background-color: $color-primary;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 15%;
  transform: rotate(45deg);
  &>* {
    transform: rotate(-45deg);
    color: #fff;
    font-weight: 600;
    max-width: 50%;
  }
  &--large {
    width: 2.93rem;
    height: 2.93rem;
    @include smallUp {
      width: 3.93rem;
      height: 3.93rem;
    }
  }
  &--small {
    width: 1.944rem;
    height: 1.944rem;
  }
}