.intro {
  padding: 10rem $s-size $xl-size;
  background-image: linear-gradient(to right, rgba(40,40,40,.8), rgba(40,40,40,.8)), url('../images/intro-bg-768.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
  color: #fff;
  text-align: center;
  @include smallUp {
    padding: 10rem $xl-size $xl-size;
    text-align: left;
  }
  @include mediumUp {
    background-image: linear-gradient(to right, rgba(40,40,40,.8), rgba(40,40,40,.8)), url('../images/intro-bg-992.jpg');
  }
  @include largeUp {
    background-image: linear-gradient(to right, rgba(40,40,40,.8), rgba(40,40,40,.8)), url('../images/intro-bg-1200.jpg');
    padding: 10.5rem $m-size $xl-size;
  }
  @include x2LargeUp {
    background-image: linear-gradient(to right, rgba(40,40,40,.8), rgba(40,40,40,.8)), url('../images/intro-bg.jpg');
    padding: 12.5rem $m-size $xl-size;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__main {
    @include largeUp {
      width: 55%;
    }
  }
  &__title {
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    color: $color-primary;
    text-transform: uppercase;
    margin-bottom: $s-size;
    @include xSmallUp {
      font-size: 1.8rem;
    }
    @include smallUp {
      font-size: 2rem;
    }
    @include x2LargeUp {
      font-size: 2.3125rem;
    }
  }
  &__text {
    font-size: 1rem;
    color: $color-light-gray;
    margin: 0 auto $m-size;
    @include smallUp {
      width: 80%;
      margin: 0;
      margin-bottom: $m-size;
    }
  }
  &__image {
    display: none;
    width: 40%;
    margin: 0 auto;
    @include largeUp {
      display: block;
    }
    @include xLargeUp {
      width: 35%;
    }
    @include x2LargeUp {
      width: 30%;
    }
    img {
      max-width: 100%;
    }
  }
  &__don {
    @include xLargeUp {
      width: 60%;
    }
    &-amount {
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
      @include smallUp {
        justify-content: flex-start;
      }
      &-box {
        width: 80px;
        background-color: rgba($color-black-dark, .4);
        text-align: center;
        margin-bottom: $s-size;
        margin-right: $s-size;
        @include smallUp {
          width: 132px;
        }
      }
      &-btn {
        display: none;
        &:checked+label {
          border: 2px solid $color-primary;
          opacity: 1;
        }
      }
      &-label {
        display: block;
        padding: .96875rem 0;
        border: 2px solid $color-primary;
        font-size: 1.125rem;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        opacity: .4;
        cursor: pointer;
      }
    }
    &-btn {
      margin-top: $m-size;
      &-front {
        display: block;
        position: absolute;
        width: 252px;
        height: 59px;
        top: 3px;
        left: 3px;
        clip-path: polygon(5% 0, 95% 0, 100% 20%, 100% 80%, 95% 100%, 5% 100%, 0 80%, 0 20%);
        border: none;
        background-color: $color-black-dark;
        color: #fff;
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        cursor: pointer;
        transition: .3s;
        @include smallUp {
          width: 302px;
          height: 59px;
          font-size: 1.25rem;
        }
        &:hover {
          background-color: $color-black;
        }
      }
      &-back {
        position: relative;
        width: 258px;
        height: 65px;
        background-color: $color-primary;
        clip-path: polygon(5% 0, 95% 0, 100% 20%, 100% 80%, 95% 100%, 5% 100%, 0 80%, 0 20%);
        margin: 0 auto;
        @include smallUp {
          width: 308px;
          margin: 0;
        }
      }
    }
  }
}