.intro {
  padding: 12.5rem $m-size $xl-size;
  background-image: linear-gradient(to right, rgba(40,40,40,.8), rgba(40,40,40,.8)), url('../images/intro-bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
  color: #fff;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__main {
    width: 55%;
  }
  &__title {
    font-family: 'Oswald', sans-serif;
    font-size: 2.3125rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: $color-primary;
    text-transform: uppercase;
    margin-bottom: $s-size;
  }
  &__text {
    font-size: 1rem;
    color: $color-light-gray;
    width: 80%;
    margin-bottom: $m-size;
  }
  &__image {
    width: 30%;
    margin: 0 auto;
    img {
      max-width: 100%;
    }
  }
  &__don {
    width: 60%;
    &-amount {
      display: flex;
      justify-content: flex-start;
      flex-wrap: nowrap;
      &-box {
        width: 132px;
        background-color: rgba($color-black-dark, .4);
        text-align: center;
        margin-bottom: $s-size;
        margin-right: $s-size;
      }
      &-btn {
        display: none;
        &:checked+label {
          border: 2px solid $color-primary;
          opacity: 1;
        }
      }
      &-label {
        display: block;
        padding: .96875rem 0;
        border: 2px solid $color-primary;
        font-size: 1.125rem;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        opacity: .4;
        cursor: pointer;
      }
    }
    &-btn {
      position: relative;
      margin-top: $m-size;
      &-front {
        display: block;
        position: absolute;
        width: 302px;
        height: 59px;
        top: 3px;
        left: 3px;
        clip-path: polygon(5% 0, 95% 0, 100% 20%, 100% 80%, 95% 100%, 5% 100%, 0 80%, 0 20%);
        border: none;
        background-color: $color-black-dark;
        color: #fff;
        font-size: 1.25rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        cursor: pointer;
        transition: .3s;
        &:hover {
          background-color: $color-black;
        }
      }
      &-back {
        width: 308px;
        height: 65px;
        background-color: $color-primary;
        clip-path: polygon(5% 0, 95% 0, 100% 20%, 100% 80%, 95% 100%, 5% 100%, 0 80%, 0 20%);
      }
    }
  }
}