.intro {
  padding: $section-padding $m-size $xl-size;
  background-image: linear-gradient(to right, rgba(40,40,40,.8), rgba(40,40,40,.8)), url('../images/intro-bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__main {
    width: 55%;
  }
  &__title {
    font-size: 1.85rem;
    color: $color-primary;
    text-transform: uppercase;
    margin-bottom: $s-size;
  }
  &__text {
    font-size: 1.35rem;
    letter-spacing: 1px;
    color: $color-light-gray;
    width: 80%;
    margin-bottom: $m-size;
  }
  &__image {
    width: 30%;
    margin: 0 auto;
    img {
      max-width: 100%;
    }
  }
  &__don {
    width: 60%;
    &-amount {
      display: flex;
      justify-content: flex-start;
      flex-wrap: nowrap;
      &-box {
        width: 125px;
        background-color: rgba($color-black-dark, .4);
        text-align: center;
        margin-bottom: $s-size;
        margin-right: $s-size;
      }
      &-btn {
        display: none;
        &:checked+label {
          border: 2px solid $color-primary;
          opacity: 1;
        }
      }
      &-label {
        display: block;
        padding: .8rem 0;
        border: 2px solid $color-primary;
        font-size: 1.1rem;
        font-weight: 700;
        letter-spacing: 3px;
        text-transform: uppercase;
        opacity: .5;
        cursor: pointer;
      }
    }
    &-btn {
      position: relative;
      margin-top: $m-size;
      &-front {
        display: block;
        position: absolute;
        width: 276px;
        height: 56px;
        top: 2px;
        left: 2px;
        clip-path: polygon(5% 0, 95% 0, 100% 20%, 100% 80%, 95% 100%, 5% 100%, 0 80%, 0 20%);
        border: none;
        background-color: $color-black-dark;
        color: #fff;
        font-size: 1.3rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 4px;
        cursor: pointer;
        transition: .3s;
        &:hover {
          background-color: $color-black;
        }
      }
      &-back {
        width: 280px;
        height: 60px;
        background-color: $color-primary;
        clip-path: polygon(5% 0, 95% 0, 100% 20%, 100% 80%, 95% 100%, 5% 100%, 0 80%, 0 20%);
      }
    }
  }
}