.payment-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: rgba($color-black-dark, 0.95);
  z-index: 50000;
  &__row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__title {
    margin-bottom: $l-size;
    h2 {
      color: #fff;
      text-transform: uppercase;
      font-size: 2.3125rem;
      span {
        color: $color-primary;
      }
    }
  }
  &__btns {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    button {
      width: 180px;
      height: 60px;
      border: 1px solid #fff;
      background-color: $color-black-dark;
      color: #fff;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: 0.4s;
      img {
        max-width: 40px;
      }
      span {
        margin-left: 0.5rem;
        font-weight: 600;
      }
      &:hover {
        border-color: $color-primary;
      }
    }
  }
  &__close {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 55px;
    right: 80px;
    cursor: pointer;
    .first,
    .second {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 30px;
      height: 2px;
      background-color: #fff;
    }
    .first {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    .second {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}
