.section {
  padding: $section-padding 0 $xl-size;
  background-color: #fff;
  color: $color-black;
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__head {
    text-align: center;
  }
  &__main {
    width: 40%;
  }
  &__title {
    margin-bottom: $m-size;
    font-family: 'Oswald', sans-serif;
    h2 {
      display: inline-block;
      font-size: 2.625rem;
      text-transform: uppercase;
      color: $color-black;
      position: relative;
      &::after {
        content: "";
        width: 50%;
        height: 2px;
        background-color: lighten($color-black, 60%);
        position: absolute;
        left: 0;
        bottom: -15px; //$m-size - 1px
      }
    }
    h2.centered::after {
      left: 25%;
    }
    span {
      color: $color-primary;
    }
  }
  &__description {
    margin-bottom: $l-size;
      p {
        font-size: 1.125rem;
        color: $color-dark-gray;
      }
  }
  &__list {
    margin-bottom: $xl-size;
    &-item {
      display: flex;
      align-items: center;
      &:not(:last-child) {
        margin-bottom: $l-size;
      }
    }
    &-item-icon {
      margin-right: $m-size;
    }
    &-item-title {
      h3 {
        font-size: 1.125rem;
        text-transform: uppercase;
        color: $color-dark-gray;
      }
    }
    &-item-description {
      p {
        font-size: .9375rem;
        color: $color-gray;
      }
    }
    &-item--small {
      .section__list-item-title h3 {
        font-weight: 400;
        text-transform: none;
      }
      .section__list-item-icon {
        margin-right: $s-size;
      }
    }
  }
  &__link {
    display: flex;
    align-items: center;
    a {
      color: $color-primary;
      font-size: 1.25rem;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
      span {
        transition: .3s;
      }
      &:hover > span {
        margin-left: 10px;
      }
    }
  }
  &__image {
    width: 45%;
    margin-right: $xl-size;
    transform: translateY(-2rem);
    img {
      max-width: 100%;
    }
  }
  &--dark {
    background-color: $color-brown;
    color: #fff;
    .section__title {
      h2 {
        color: #fff;
      }
    }
    .section__description {
      p {
        color: #fff;
      }
    }
    .section__list-item-title {
      h3 {
        color: #fff;
      }
    }
    .section__list-item-description {
      p {
        color: #fff;
      }
    }
  }
}
