.section {
  padding: $section-padding 0 $xl-size;
  background-color: #fff;
  color: $color-black;
  &--dark {
    background-color: $color-brown;
    color: #fff;
  }
  &__row {
    display: flex;
    justify-content: space-between;
  }
  &__head {
    text-align: center;
    margin-bottom: 9rem;
  }
  &__main {
    width: 40%;
  }
  &__title {
    margin-bottom: $m-size;
    font-family: 'Oswald', sans-serif;
    h2 {
      display: inline-block;
      font-size: $l-size;
      text-transform: uppercase;
      position: relative;
      &::after {
        content: "";
        width: 50%;
        height: 2px;
        background-color: lighten($color-black, 60%);
        position: absolute;
        left: 0;
        bottom: -15px; //$m-size - 1px
      }
    }
    h2.centered::after {
      left: 25%;
    }
    span {
      color: $color-primary;
    }
  }
  &__description {
    margin-bottom: $m-size;
      p {
        font-size: 1.25rem;
        color: $color-dark-gray;
      }
  }
  &__description--dark {
    p {
      color: $color-light-gray;
    }
  }
  &__list {
    margin-bottom: $xl-size;
    &-item {
      display: flex;
      align-items: center;
      &:not(:last-child) {
        margin-bottom: $l-size;
      }
    }
    &-item-icon {
      margin-right: $m-size;
    }
    &-item-title {
      h3 {
        font-size: 1.3rem;
        text-transform: uppercase;
      }
    }
    &-item-description {
      p {
        font-size: 1.1rem;
        color: darken($color-light-gray, 10%);
      }
    }
    &-item-description--dark {
      p {
        color: #fff;
      }
    }
  }
  &__link {
    a {
      position: relative;
      color: $color-primary;
      font-size: 1.25rem;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
      span {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(110%, -60%);
        transition: .3s;
      }
      &:hover > span {
        transform: translate(140%, -60%);
      }
    }
  }
  &__image {
    width: 45%;
    margin-right: $xl-size;
    transform: translateY(-2rem);
    img {
      max-width: 100%;
    }
  }
}
